.formLabel {
  font-size: 18px;
  margin-bottom: 15px;
  padding: 10px;
  display: flex;
}
.listgroupitem {
  display: flex;
}
.h5 {
  display: flex;
  padding: 10px;
}

.div {
  max-width: 960px;
  margin: auto;
}

.ul {
  padding: 10px;
  text-align: left;
}




